<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property="og:type" content="website" />

    <title>WMCC Public Explorer | World Mobile Coin | New Generation Cryptocurrency.</title>
    <meta property="og:title" content="WMCC Public Explorer | World Mobile Coin | New Generation Cryptocurrency." />
    <meta name="twitter:title" value="WMCC Public Explorer | World Mobile Coin | New Generation Cryptocurrency." />

    <meta property="og:description" content="WMCC Public Explorer | World Mobile Coin - The new generation of cryptocurrency." />
    <meta name="twitter:description" value="WMCC Public Explorer | World Mobile Coin - The new generation of cryptocurrency." />

    <meta name="twitter:site" content="@worldmobilecoin" />

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="/../css/main.css">
    <script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/vendor/socket.io/socket.io.js"></script>
  </head>
  <body>
    <header class="site-header">
      <div id="site_header" class="block container"><!--__header__--></div><!--HEADER-->
    </header>
    <div id="main" class="text-center">
      <div id="block_1" class="block container"><!--__1__--></div>
      <div id="block_2" class="block container"><!--__2__--></div>
      <div id="block_3" class="block container"><!--__3__--></div>
      <div id="block_4" class="block container"><!--__4__--></div>
    </div>
    <footer class="footer">
      <div id="site_footer" class="block container"><!--__footer__--></div><!--FOOTER-->
    </footer>
  </body>
  <script type="text/javascript" src="/vendor/jquery/jquery.qrcode.min.js"></script>
  <script type="text/javascript" src="/vendor/dom/time.js"></script>
  <script type="text/javascript" src="/vendor/dom/search.js"></script>
</html>